:root{
    --color-black: #0c0217;
    --color-white: #f0f0f0;
    --main-color: #2dd4bf;
    --color-gray-100: #f7fafc;
    --color-gray-200: #edf2f7
    --color-misc-main: #2563eb;
    --random-color: #e11d48;
    --color-black-alt: #1e0637;
}

body{
    background-color: var(--color-black);
    color: var(--color-white);
}

.Danger{
    color: #e11d48;
}